#iframeCenter {
  margin-left: 25em;
}

body {
  background-image: url(Images/background.jpg);
  background-image: no-repeat;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: middle;
  padding: 8px;
  font-size: large;
}

.bodyTable tr:nth-child(even) {
  background-color: #f2f2f2
}

.bodyTable tr:nth-child(odd) {
  background-color: #e0e1e2
}

.tableHead, th {
  background-color: #6c71c4;
  color: #eee8d5;
  font-family: Times New Roman;
  vertical-align: all;
}

#tableFontSize {
  font-size: 150%;
}
